
.pos-item {
  border-radius: 1rem;
  background-color: rgb(231, 231, 255);
  transition: 0.3s all;
  cursor: pointer;
}

.pos-item:hover {
  background-color: rgb(204, 204, 248);
}

.bg-light {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-light-sub {
  display: flex;
  justify-content: space-around;
}

.discount-input {
  width: 2.5rem;
}

.col-lg-4 {
  width: auto;
}

.col-lg-8{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 700px;
}